.chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1080px;
  margin: 0 auto;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
}

.messages {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #e5ddd5;
}

.message-input {
  position: sticky;
  bottom: 0;
  left: 0;
  resize: vertical;
  display: flex;
  padding: 10px;
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
}

.message-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
}

.message-input button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #25d366;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.message-input button:hover {
  background-color: #128c7e;
}

.add-chat-button {
  position: absolute;
  top: 10px;
  right: 10px;
  line-height: none;
  z-index: 1;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #25d366;
  color: white;
  font-size: 98px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.add-chat-icon {
  width: 40px;
  height: 40px;
}

.logout-button {
  position: absolute;
  top: 10px;
  left: 10px;
  line-height: none;
  z-index: 1;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #25d366;
  color: white;
}

.logout-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: white;
  background:#25d366
}

